.user__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user__info p {
    margin: 10px 0;
}

.user__cta {
    margin: 10px 0;
}

.info__container {
    display: flex;
}

.info__card {
    margin-right: 20px;
}

.advert__container,
.purchase__container {
    display: flex;
    flex-direction: column;
}

.advert__card,
.puchase__card {
    margin-bottom: 20px;
}