/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1.2;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------- */
html {
    height: 100%;
}

body {
    font-size: 18px;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

/* Button CTA */

.button {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(199, 198, 198, 0.5);
}

/* Links */
.link-back:before {
    content: '\276E';
    margin-right: 10px;
}

.link-back:hover {
    font-weight: bold;
}

.link-update, .link-delete, .link-add {
    text-decoration: underline;
}

.link-update:hover {
    color: dodgerblue;
}

.link-delete:hover {
    color: crimson;
}

.link-add:hover {
    color: darkcyan;
}

/* Flash messages */
.flash-content {
    text-align: center;
    margin: 30px 0;
}

.success-content {
    color: darkcyan;
}

.error-content {
    color: crimson;
}