header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

.nav__user-menu a:hover {
    text-decoration: underline;
}